@font-face {
  font-family: 'LAB-Grotesk';
  src: url('assets/fonts/LAB-Grotesk.otf')
  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-VariableFont_wght';
  src: url('assets/fonts/Manrope-VariableFont_wght.ttf')
  format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family:'Manrope-VariableFont_wght', serif ;
}
.brand-font{
  font-family: 'Lab-Grotesk', sans-serif;
}

.custom-control {
  width: 5%;
}
.carousel-control-prev {
  left: 10px;
}
.carousel-control-next {
  right: 10px;
}
.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel-indicators .active {
  background-color: rgba(255, 255, 255, 1);
}

.letter-spaced{
    letter-spacing:10px;
}
.line{
  width: 30px;
  height: 1px;
  background-color: black;
}
.video-container{
  width: 100%;
  max-height: 80vh;
}
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  max-height: 100vh;
}
.sec-img {
  width: 100%;
  max-height: 100vh;
}

#wordContainer {
  position: relative;
  width: 100%;
  height: 500px; 
}

.word {
  position: absolute;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  opacity: 0;
  transition: opacity 0.5s;
}
.word.show {
  opacity: 1;
}

.stat {
  text-align: center;
  transition: all 0.3s ease;
}
.number, .symbol {
  font-size: 2em;
  font-weight: bold;
  display: inline;
}
.description {
  margin-top: 15px;
  font-size: 1.1em;
  color: #666;
}
.stat-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat-content i {
  margin-left: 10px; /* Space between number/symbol and icon */
  font-size: 1.5em; /* Adjust icon size */
}

.service-item {
  cursor: pointer;
  margin: 10px 0;
}

.service-item.active {
  color: red;
}

.service-description {
  display: none;
}

.service-description.active {
  display: block;
}

@media (max-width: 576px) {
  .word {
    font-size: 40px; 
  }

}

@media (min-width: 768px) {
  .service-item {
      border: none;
      font-size: 1.5rem;
  }

  .col-md-8 {
      border-left: 1px solid #000;
  }
  .contact-left {
    border-left: 1px solid #000;
  }
}

.copyright{
  border-top: 1px solid black;
}
.links > a {
  text-decoration: none;
  color: black;
}
.first-home-ani {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.first-home-ani {
  transform: translateY(0);
}
#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  bottom: 20px; /* 20px from the bottom */
  right: 30px; /* 30px from the right */
  z-index: 99; /* Make sure it stays on top */
  font-size: 18px; /* Button text size */
  background-color: #555; /* Dark background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 15px; /* Padding */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Pointer/hand icon */
}

#scrollToTopBtn:hover {
  background-color: #000; /* Darker background on hover */
}
.logout-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.table {
  margin-bottom: 50px;
}

.table-header {
  background-color: #1c1d1f;
  color: #ffffff;
}
.sidebar {
  background-color: #54cd76;
  color: #ffffff;
  padding: 15px;
  height: 100vh;
  position: fixed;
  width: 250px;
}
.sidebar a {
  color: #ffffff;
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: underline;
}
.content {
  margin-left: 270px; /* To make space for the sidebar */
  padding: 20px;
}
.logout-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
}